[Desktop Entry]
Categories=GTK;TextEditor;Utility;
Comment=Text editor
Exec=xed %U
Icon=accessories-text-editor
MimeType=text/plain;
Name=xed
StartupNotify=true
Terminal=false
Type=Application
